@font-face {
  font-family: "roundedfont";
  src: url("../assets/arlrdbd.ttf");
}

* {
  margin: 0;
}

/* CSS VARIABLES */

:root {
  --div-background-color: #dd524d;
  --text-color: #541d1f;
  --div-padding: 10px;
  --div-margin: 10px;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
}

header {
  background-color: var(--div-background-color);
}

.mainNav {
  background-color: var(--div-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #be5550;
}

.rightnav {
  display: flex;
}

.mainNav img {
  width: 130px;
  height: auto;
  margin: 10px;
}

.rightnav img {
  width: 100px;
  height: auto;
  margin: 5px;
}

main {
  background-color: var(--div-background-color);
  display: flex;
}

.wrapper1 {
  width: 500px;
  margin: 0 auto;
}

.timer {
  background-color: #e2706d;
  border-radius: 10px;
  margin-top: 60px;
  padding: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  /* margin-top: 20px; */
  padding: 5px 15px;
}

.buttons button:first-child {
  background-color: #be5550;
  border-radius: 5px;
}

.timer h1 {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "roundedfont", "Arial", sans-serif;
  font-size: 7rem;
  margin: 30px;
}

.start {
  display: flex;
  margin: auto;
  background-color: white;
  border: none;
  font-family: "roundedfont", "Arial", sans-serif;
  font-size: 1.5rem;
  color: #e2706d;
  padding: 2vh 4vw;
  border-radius: 5px;
}

.focus p {
  display: flex;
  justify-content: center;
}

.Tasks {
  display: flex;
  justify-content: space-between;
}

.addTask {
  display: flex;
  margin: auto;
}
